* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}
body {
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

::-webkit-scrollbar-track {
  display: none;
  background-color: #f4f4f4;
}
::-webkit-scrollbar {
  display: none;
  width: 6px;
  background: #f4f4f4;
}
::-webkit-scrollbar-thumb {
  display: none;
  background: #dad7d7;
}
